/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #f53862;
    --ifm-color-primary-dark: rgb(224, 52, 89);
    --ifm-color-primary-darker: rgb(191, 44, 76);
    --ifm-color-primary-darkest: rgb(153, 35, 61);
    --ifm-color-primary-light: rgb(243, 68, 109);
    --ifm-color-primary-lighter: rgb(239, 89, 122);
    --ifm-color-primary-lightest: rgb(239, 120, 147);
    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

span {
    font-weight: 500;
}

.channels {
    border: 1.2px solid #f53862;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
    font-style: italic;
}

#apprentice {
    color: brown;
}

#archer {
    color: rgb(209, 30, 170);
}

#druid {
    color: rgb(201, 164, 164);
}

#paladin {
    color: green;
}

#ranger {
    color: #888888;
}

#warrior {
    color: #d63447;
}

#wizard {
    color: #035aa6;
}

#angry-dwarf {
    color: #fcbf1e;
}

#cleric {
    color: #588da8;
}

#hunter {
    color: #ff5733;
}

#monk {
    color: #1eb2a6;
}

#mystic-alchemist {
    color: #e9f58f;
}

#rogue {
    color: #a6b1e1;
}

#scribe {
    color: #9dc6a7;
}

#tavern-keeper {
    color: #05dfd7;
}

#healer {
    color: #ff9595;
}
